<!DOCTYPE html>
<html>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif
    }

    #MENU {
      position: fixed;
      left: 0;
      top: 0;
      width: 30%;
      height: 100%;
      display: none;
      z-index: 2;
    }

    centering body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    @media screen and (max-width:500px) {
      #MENU{
        width:40%
      }
    }
  </style>
</head>

<body class="w3-theme-l5">



  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div id="MENU" class="w3-card w3-col m3 w3-teal w3-animate-left">
        <!-- Profile -->
        <span
          onclick="document.getElementById('MENU').style.display='none';document.getElementById('MENUBTN').style.display='block'"
          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
          <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        
          <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px" class=" w3-card w3-white w3-round w3-margin ">
            <h4>Story Zawe</h4>
            <br>
          </div>
          <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px" class=" w3-card w3-white w3-round w3-margin ">
            <h4>Zumvishwe</h4>
            <br>
          </div>
          <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px" class=" w3-card w3-white w3-round w3-margin ">
            <h4>Zakunzwe</h4>
            <br>
          </div>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <div style="position:inherit;bottom:20%">
          <center>  <h4 ><b>KORERA CASH</b></h4></center>
          <button style="width: 80%;height: 20%;border:none;background-color: rgb(0, 77, 77);" class=" w3-button  w3-round w3-margin ">
            <h4 style="width:100%;height:100%"><b>KANDA GUKOMEZA</b></h4>
          </button>
          </div>
            
       
      </div>
         
      



        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div style="width:100%" class="w3-col m7">

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <span class="w3-right w3-opacity">1 min</span>
          <h4>John Doe</h4><br>
          <hr class="w3-clear">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
            </div>
          </div>
          <p type="p" class="w3-p w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</p>
          <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</p>
          <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-money"></i> Bid</p>

        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <span class="w3-right w3-opacity">16 min</span>
          <h4>Jane Doe</h4><br>
          <hr class="w3-clear">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <p type="p" class="w3-p w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</p>
          <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</p>
          <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-money"></i> bid</p>

        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <span class="w3-right w3-opacity">32 min</span>
          <h4>Angie Jane</h4><br>
          <hr class="w3-clear">
          <p>Have you seen this?</p>
          <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <p type="p" class="w3-p w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</p>
          <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</p>
          <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-money"></i> bid</p>

        </div>

        <!-- End Middle Column -->
      </div>

      <!-- Right C
    
  <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
  <br>
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
     <center><h2 style="color:rgb(0, 68, 68)"><b>Komeza Na </b></h2></center>
     <div >
      <center>
        <i style="font-size: 40vw; color:teal; " class="fa fa-facebook-official w3-hover-opacity"></i>
      <br>
      <h2 style="color:rgb(0, 68, 68)"><b>CYANGWA NA </b>
      </h2>     
       <br>
      <i style="font-size: 40vw; color:teal; " class="fa fa-google w3-hover-opacity"></i>
    </center>
    </div>
    

    </div>
  </div>

  <!-- Footer -->

  <button onclick="document.getElementById('id01').style.display='block'" style="position:fixed;bottom:7%;left:40%;width:100px;height:100px; z-index:1;border: none;"
    class="w3-card w3-circle w3-teal">
    <b>KANDA UTUBWIRE</b>
  </button>
  <button id="MENUBTN"
    onclick="document.getElementById('MENU').style.display='block';document.getElementById('MENUBTN').style.display='none'"
    style="border:none;position:fixed;top:2%;left:2%;width:60px;height:60px; z-index:1;" class="w3-card w3-circle w3-teal  w3-animate-zoom">
    <p style="background-color: rgba(255, 255, 255, 0); width:100%;width:100%"><b>MENU</b>
    </p>
  </button>

  <footer style="position: fixed;bottom:0;width:100%;height:15%;border-radius: 20px 20px 0 0 ;"
    class="w3-cardw3-container w3-theme-d3 w3-padding-16">

    <h4 style="position: fixed;bottom:0.2%;left:1%;"><b>DutereStory.Com</b></h4>
  </footer>
  <script>
// Accordion


  </script>

</body>

</html>