<!DOCTYPE html>
<html>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif
    }

    #BTN1 {
      position: inherit;
      bottom: 5%;
      left: 1%
    }

    #BTN2 {
      position: fixed;
      bottom: 7%;
      left: 45%;
      color:white;
      width: 100px;
      height: 100px;
      z-index: 1;
      border: none;
      display:none;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;

    }

    #BTN3 {
      position: fixed;
      bottom: 7%;
      left: 40%;
      width: 100px;
      height: 100px;
      z-index: 1;
      border: none;
      display: block
    }

    #BTN4 {
      position: fixed;
      bottom: 7%;
      right: 20%;
      width: 100px;
      height: 100px;
      z-index: 1;
      border: none;
      display: none;
    }


    #MENU {
      position: fixed;
      left: 0;
      top: 0;
      width: 20%;
      height: 100%;
      display: none;
      z-index: 2;
    }

    centering body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    @keyframes example {
      0% {
        background-color: rgb(1, 54, 54)
      }

      20% {
        background-color: teal;
      }

      40% {
        background-color: rgb(1, 54, 54);
      }

      60% {
        background-color: teal;
      }

      80% {
        background-color: rgb(1, 54, 54);
      }
      100% {
        background-color: teal;
      }
    }

    @media screen and (max-width:600px) {
      #BTN2{
        position: fixed;
       bottom: 7%;
       left: 38%;
      }
      #BTN1 {
        position: inherit;
        left: 0;
      }

      #MENU {
        width: 41%
      }
    }
  </style>
</head>

<body class="w3-theme-l5">



  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div id="MENU" class="w3-card w3-col m3 w3-teal w3-animate-left">
        <!-- Profile -->
        <span
          onclick="document.getElementById('MENU').style.display='none';document.getElementById('MENUBTN').style.display='block'"
          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">

        <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px"
          class=" w3-card w3-white w3-round w3-margin ">
          <h4>Story Zawe</h4>
          <br>
        </div>
        <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px"
          class=" w3-card w3-white w3-round w3-margin ">
          <h4>Zumvishwe</h4>
          <br>
        </div>
        <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px"
          class=" w3-card w3-white w3-round w3-margin ">
          <h4>Zakunzwe</h4>
          <br>
        </div>
        

        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>

        <div id="BTN1">
          

          <button onclick="ChangeToKash()" id="BTN6" style="background-color: rgb(0, 77, 77); " class="w3-center w3-button ">
            <b>KORERA CASH</b>
          </button>
          <button onclick="ChangeToStories()" id="BTN5" style="background-color: rgb(0, 77, 77); display:none" class="w3-center w3-button ">
            <b>Umva Stories</b>
          </button>


        </div>



      </div>





      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div style="width:100%" class="w3-col m7">
       <div style="display:block" id="stories">
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>John Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.</p>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
        <p type="p" class="w3-p w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</p>
        <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</p>
        <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-money"></i> Bid</p>

      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">16 min</span>
        <h4>Jane Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.</p>
        <p type="p" class="w3-p w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</p>
        <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</p>
        <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-money"></i> bid</p>

      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>Angie Jane</h4><br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.</p>
        <p type="p" class="w3-p w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</p>
        <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</p>
        <p type="p" class="w3-p w3-theme-d2 w3-margin-bottom"><i class="fa fa-money"></i> bid</p>

      </div>
      </div>
      <div style="display:none" id="KORERAKASH" class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h3>Sharinga Iyo Link Maze Wishyurwe</h3>
        <p>Ubwishyu Bwa Subscription :<b style="color:red">Nturishyura</b></p>
        <div class="w3-card w3-round w3-margin w3-teal">
          <b>Link</b>
        </div>
      </div>

      <!-- End Middle Column -->
    </div>

    <!-- Right C
    
  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
  </div>
  <br>
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <center><h1 style="color:rgb(0, 68, 68)"><b>MURAKAZA NEZA</b></h1></center>
      <center>
        <h2 style="color:rgb(0, 68, 68)"><b>Komeza Na </b></h2>
      </center>
      <div>
        <center>
          <i style="font-size: 10vw; color:teal; " class="fa fa-facebook-official w3-hover-opacity"></i>
          <br>
          <h2 style="color:rgb(0, 68, 68)"><b>CYANGWA NA </b>
          </h2>
          <br>
          <i style="font-size: 10vw; color:teal; " class="fa fa-google w3-hover-opacity"></i>
          <br>
          <br>
        </center>
      </div>


    </div>
  </div>
  <div id="id03" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <span
      onclick="document.getElementById('id03').style.display='none';document.getElementById('MENUBTN').style.display='block'"
      class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
      <center>
        <h2 style="color:rgb(0, 68, 68)"><b>Bikuza</b></h2>
      </center>
      <div>
        <center>
          <form  class="w3-container w3-margin">
            <div class="w3-section">
           <b> <lable>Phone yawe</lable></b>
            <input class="w3-input w3-border w3-margin-bottom" type="text" name="phone" placeholder="078(MTN GUSA)-----"/>
            <br>
            <b><label>Umubare wamafaranga atarihasi ya 2000RWF</label></b>
            <input class="w3-input w3-border w3-margin-bottom" type="text" name="phone" placeholder="----"/>
          </div>
          <button class="w3-button w3-block w3-teal w3-section w3-padding" >kanda gukomeza</button>
          </form>
        </center>
      </div>


    </div>
  </div>
  <div  id="id02" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <center>
        <h5 style="color:rgb(0, 68, 68)"><b>Shyiramo Nimero Maze Wishyure Subscription</b></h5>
        
      </center>
      <center>
      <form  class="w3-container w3-margin">
        <div class="w3-section">
       <b> <lable>Phone yawe</lable></b>
        <input class="w3-input w3-border w3-margin-bottom" type="text" name="phone" placeholder="078(MTN GUSA)-----"/>
        <br>
        <b><label>package wishyura</label></b>
        <select class="w3-input w3-border w3-teal"  name="package" id="selectionOfPackage">
          <option value="1000">1000 RWF  kucyumweru</option>
          <option value="3000">3000 RWF  kukwezi</option>
          <option value="3000">50000 RWF  Kumwaka</option>
        </select>
      </div>
      <button class="w3-button w3-block w3-teal w3-section w3-padding" >ISHYURA</button>
      </form>
     </center>

    </div>
  </div>

  <!-- Footer -->

  <button id="BTN3" onclick="document.getElementById('id01').style.display='block'" class="w3-card w3-circle w3-teal">
    <b>KANDA UTUBWIRE</b>
  </button>
  <button id="BTN2" onclick="document.getElementById('id02').style.display='block'" class="w3-card w3-circle">
    <b>TURIKUMVA</b>
  
    <b>00:00</b>
  </button>
  <button id="BTN4" onclick="document.getElementById('id03').style.display='block'" class="w3-card w3-circle w3-teal">
    <b>BIKUZA</b>
    

  </button>
  <button id="MENUBTN"
    onclick="document.getElementById('MENU').style.display='block';document.getElementById('MENUBTN').style.display='none'"
    style="border:none;position:fixed;top:2%;left:2%;width:60px;height:60px; z-index:1;"
    class="w3-card w3-circle w3-teal  w3-animate-zoom">
    <p style="background-color: rgba(255, 255, 255, 0); width:100%;width:100%"><b>MENU</b>
    </p>
  </button>

  <footer style="position: fixed;bottom:0;width:100%;height:15%;border-radius: 20px 20px 0 0 ;"
    class="w3-cardw3-container w3-theme-d3 w3-padding-16">
    <i id="ReacorderBTN" style="color:rgb(1, 218, 218);position:inherit;left:22%; bottom:8%;font-size: 40px; display:none" class="fa fa-stop"></i>
    <i id="ReacorderBTN" style="color:rgb(1, 218, 218);position:inherit;right:22%; bottom:8%;font-size: 40px; display:none" class="fa fa-pause"></i>
    <div style="display:none" id="KashHeading">
    <h4  style="color:rgb(251, 253, 253);position:inherit;left:2%; bottom:9%;font-size: 110%; " >clicks wabonye:</h4>
    <h4  style="color:rgb(255, 255, 255);position:inherit;left:2%; bottom:5%;font-size: 110%; " >amafaranga ugeje:</h4>
  </div>

    <h4 style="position: fixed;bottom:0.2%;left:1%;"><b>DutereStory.Com</b></h4>
  </footer>
  <script>
// Accordion

  function ChangeToKash(){
    document.getElementById('KashHeading').style.display='block'
    document.getElementById('BTN4').style.display='block'
    document.getElementById('KORERAKASH').style.display='block'
    document.getElementById('BTN5').style.display='block'
    document.getElementById('MENUBTN').style.display='block'
    document.getElementById('BTN6').style.display='none'
    document.getElementById('stories').style.display='none'
    document.getElementById('ReacorderBTN').style.display='none'
    document.getElementById('BTN2').style.display='none'
    document.getElementById('BTN3').style.display='none'
    document.getElementById('MENU').style.display='none'
  }
  function ChangeToStories(){
    document.getElementById('KashHeading').style.display='none'
    document.getElementById('BTN4').style.display='none'
    document.getElementById('KORERAKASH').style.display='none'
    document.getElementById('BTN5').style.display='none'
    document.getElementById('MENUBTN').style.display='block'
    document.getElementById('BTN6').style.display='block'
    document.getElementById('stories').style.display='block'
    document.getElementById('ReacorderBTN').style.display='none'
    document.getElementById('BTN2').style.display='none'
    document.getElementById('BTN3').style.display='block'
    document.getElementById('MENU').style.display='none'
  }
  </script>

</body>

</html>