<!DOCTYPE html>
<html>

<head>
  <title>DutereStory</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/ico" href="../static/image/favicon.ico">
<style>
   html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif
    }
    #MENU {
      position: fixed;
      left: 0;
      top: 0;
      width: 20%;
      height: 100%;
      display: none;
      z-index: 2;
    }
    #recordButton {
      position: fixed;
      bottom: 10%;
      left: 44%;
      width: 100px;
      height: 100px;
      z-index: 2;
      border: none;
      display: display
    }
    @media screen and (max-width:600px) {
      #MENU {
        width: 41%
      }
      #recordButton {
      position: fixed;
      bottom: 7%;
      left: 36.5%;
    }
    }

</style>
</head>

<body class="w3-theme-l5">



  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <!-- <%# if(messages.message2) {%> 
    <div id="message1Id" style="width:50%;position:absolute;right:2%; top:5%" class="w3-panel w3-teal w3-card w3-animate-right ">
      <span
          onclick="document.getElementById('message1Id').style.display='none';"
          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
       <h3><%#=messages.message2%></h3>
      </div>
     <%# }%> -->
    <div class="w3-row">
      <!-- Left Column -->
      <div id="MENU" class="w3-card w3-col m3 w3-teal w3-animate-left">
        <!-- Profile -->
        <span
        onclick="document.getElementById('MENU').style.display='none';document.getElementById('MENUBTN').style.display='block'"
        class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <% if(user){%>
       
        <img src="<%=user.ProfilePhotoUrl%>" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">

        <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px ;"
          class=" w3-card w3-white w3-round w3-margin ">
         
          <h6>Link Clicks  <%=user.clicks%></h6>
          <br>
        </div>
        <div style="width: fit-content;height: 5%; padding-left:3px;padding-right:3px ;"
        class=" w3-card w3-white w3-round w3-margin ">
       
        <h6>Status total Views  <%=user.views%></h6>
        <br>
      </div>
       
        

        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <button onclick="ChangeToStories()" id="BTN5" style="background-color: rgb(0, 77, 77); display:none" class="w3-center w3-button ">
            <b>Umva Stories</b>
          </button>


       
      </div>



    
      <% } %> 
      <!-- End Left Column -->
    </div>
 

    <!-- Middle Column -->
    <div style="width:100%" class="w3-col m7">
       
      
        <div id="KORERAKASH" class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <center><h1>Korera Cash Hemwe Natwe Sharing Link ukorere Cash</h1></center>
          <br>
          <center>
           <div class="w3-container w3-card w3-teal w3-round w3-margin"><br>

                <b><label>Kanda kuri " Kora Share "</label></b>
               <p>https://DutereStori.herokuapp.com/user_name</p>   
          </div>
        </center>
        <center>
            <div class="w3-container w3-card w3-teal w3-round w3-margin"><br>
 
                 <b><label>Abakoze Clicks Kuri Link Yawe Bemewe</label></b>
                <ol>
                    <li>muna  </li>
                </ol>   
           </div>
         </center>
          </div>

          
       
      </div>
      <button onclick="sharelink();" id="recordButton" class="w3-card w3-circle w3-teal">
        <b>KORA SHARE</b>
      </button>
 


      <!-- End Middle Column -->
      
    </div>

    <!-- Right C--->
    
  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
  </div>
  <br>
  <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  <button id="MENUBTN"
    onclick="document.getElementById('MENU').style.display='block';document.getElementById('MENUBTN').style.display='none'"
    style="border:none;position:fixed;top:2%;left:2%;width:60px;height:60px; z-index:1;"
    class="w3-card w3-circle w3-teal  w3-animate-zoom">
    <p style="background-color: rgba(255, 255, 255, 0); width:100%;width:100%"><b>MENU</b>
    </p>
  </button>

  <footer style="position: fixed;bottom:0;margin-bottom:0;width:100%;min-height:100px;height:fit-content;border-radius: 20px 20px 0 0 ;"
    class="w3-card w3-container w3-theme-d3 ">
   

    <h4 style="position: fixed;bottom:0.2%;left:1%;"><b>DutereStory.Com</b></h4>
  </footer>
  
  <script>
// Accordio
const shareData = {
  title: 'DutereStori',
  text: 'Mfasha Dukorere cash Clickinga kwiyi link ufungure account Nawe Ukorere Cash',
  url: 'https://google.com'
}
document.getElementById('recordButton').addEventListener('click',()=>{
  try {
    await navigator.share(shareData)
     alert('MDN shared successfully')
  } catch(err) {
    alert(err)
  }
})

function myFunction(){
    var x = document.getElementById("select").value;
let y;
  if (x==1500){
    y='/paymentWeekAdvert'
  }else if(x==5000){
   y='/paymentMonthAdvert';
  }else if(x==50000){
     y='/paymentYearAdvert';
  }
    document.getElementById("formPayment").action=y;

  }
  
  </script>

</body>

</html>